/* RESET RULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    ;
}

    h3 {
        margin-top: 20px;
        font-weight: 100;
        font-size : 16px
        }
/* COMMON */

.container {

    width: 80%;
    margin: 0px auto;
    /* border: 1px dashed black; */
}

.main {
    height: 200px;
}

.main-container {
    width: 80%;
    margin: 10px auto;
    border: 1px dashed black;
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
}

.ta-c {
    text-align: center;
}

/* UTILITIES */

/* backgrounds */
.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: rgba(246,246,246,255);
}

.bg-dgreen {
    background-color: darkgreen;
}

.twhite {
    color: white;
}

/* paddings */
.p-30 {
    padding-bottom: 30px;
    padding-top: 30px;
}

/* margins */
.ml-40 {
    margin-left: 40px;
}
/* heights */
.h-350 {
    height: 350px;
}

/* .h200 {
    height: 200px;
} */

/* width */
.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

/* borders */
.border {
    border: 1px dashed black;
}

/* flex propreties */
.row-reverse {
    flex-direction: row-reverse;
}

.al-c {
    align-content: center;
}

.jc-c {
    justify-content: center;
}
.buttons-white {
    margin-right: 30px;
    padding:10px;
    background-color: white;
    height: 50%;
    width: 50%;
    border-radius: 20px;
}

.buttons-dark {
    margin-right: 30px;
    padding:10px;
    color: white;
    background-color: rgba(35,39,42,255);
    height: 50%;
    width: 50%;
    border-radius: 20px;
}


/* CUSTOM PROPRIERTIES */




/* HEADER  */
/* Creo header */
.header {
    background-color: rgba(37, 94, 233, 255);
    padding-top: 10px;
    padding-bottom: 10px;
}

/* creo barra di navigazione */
.nav-container {
    /* background-color: orange; */
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: white;
    /* border: 1px dashed black; */
}

.flex-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 165, 0);
    /* border: 1px dashed black; */

}

.logo {
    flex-basis: 20%;
    padding: 10px;
    padding-left: 0px;
    /* border: 1px dashed black; */
    text-align: left;

}

.login {
    /* display: flex; */
    flex-basis: 20%;
    /* justify-content: center; */
    padding: 10px;
    padding-right: 0px;
    text-align: right;
    /* border: 1px dashed black; */
    color: white;
    background-color: rgba(37, 94, 233, 255);
}

.login a {
    color: black;
    padding: 10px;
    height: 50%;
    width: 50%;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    background-color: white;
}

.link-container a {
    flex-basis: 60%;
    margin-right: 5px;
    text-decoration: none;
    color: white;
}

/* CREO SEZIONE IN EVIDENZA */
.in-evidenza {
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 135);
}

.pinkbox {
    text-align: center;
    display: inline-block;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 60%;
    /* height: 150px; */
    /* background-color: fuchsia; */
}

.pinkbox-buttons {
    margin-top:10px;
}

.hero-title {
    margin-top:50px;
    font-size: 2rem;
    color:white;
}
.hero-caption {
    color: white;
    line-height: 1.5rem;
    padding: 30px;
}


/* CREO MAIN */

.two-col-1 {
   
    width: 40%;
    /* background: lightpink; */
    /* border: 1px dashed black; */
}

.two-col-1-first {
    margin-bottom:132px;
   
    width: 40%;
}


.two-col-2-first {
    background-image: url('../img/item1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 60%;
    /* background: lightblue; */
}

.two-col-2-second {
    background-image: url('../img/item2.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 60%;
}

.two-col-2-third {
    background-image: url('../img/item3.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 60%;
}

.cta-sectiontitle {
    margin-bottom: 20px;
    font-size: 42px;
}

.cta {
    margin-bottom: 50px;
}


/* FOOTER */
footer {
    background-color: black;
    color: white;
    margin-top: 0px;
    height: 100%;
}

.footer-top {
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    height: 300px;
}

.translator {
    background-image: url(../img/ita.png);
background-repeat: no-repeat;
color: rgba(114,137,218,255);
}
.col-left {
    /* background-color: rgb(214, 139, 152); */
    border: 1px dashed black;
    flex-direction: column;
}

.col-left p {
   color: rgba(114,137,218,255);
}
.col-right {
    /* background-color: lightblue; */
}

.col-right>* {
    flex-grow: 1;
    /* border: 1px dashed white; */
}

ul li {
    margin-bottom: 10px;
}
.five-col p {
color: rgba(114,137,218,255);
margin-top:10px;
margin-bottom:10px;
}

.social-logo i {
    margin-right:10px;
    margin-top: 10px;
}

.footer-bottom {
    background-color: aquamarine;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.footer-bottom>* {
    background-color: pink;
    color: black;
    border: 1px dashed black;

}